pom.xml
pom.xml.asc
*.jar
*.class
*.log
*.stl
[0-9a-f]*-init.clj
/bin/
/lib/
/classes/
/target/
/checkouts/
/.clj-kondo/
.eastwood
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.idea/
*~


.calva/output-window/output.calva-repl

.lsp/sqlite.db

libbulletjme.so

liblwjgl64.so

libopenal64.so

.settings/
.classpath
.project

.calva/
.lsp/


*.so

docs/cloverage/codecov.json

docs/cloverage/coverage.xml

src/cc/journeyman/the_great_game/cloverage.clj
