@font-face {
    font-family: Bulara;
    src: url(fonts/bulara_5.ttf);
}


body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 0 5%;
}

table {
    margin: auto;
}

td,
th {
    width: 7%;
    border: thin solid silver;
    text-align: center;
}

td:hover {
    background-color: silver;
}

th {
    background-color: silver;
}

.character-table {
    position: relative;
    margin: 1em 0;
    width: 100%;
}

.entry {
    font-size: 3em;
}

.entry button {
    display: block;
    width: 100%;
}

.firefox {
    font-style: italic;
    border: thin solid orangered;
    padding: 0 1em;
    margin: 1em 0;
}

.firefox img {
    float: left;
    height: 2em;
    width: 2em;
}

.firefox p {
    padding: 0 4em;
}

.progressbar {
    width: 80%;
    margin: 25px auto;
    border: solid 1px #000;
}

.progressbar .inner {
    height: 15px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
}

.punjabi {
    font-family: Bulara;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #0F0;
    }

    100% {
        width: 0%;
        background: #F00;
    }
}

#bug {
    width: 1em;
    height: 1em;
}

#closebox {
    color: red;
    float: right;
}

#footer {
    margin-top: 2em;
    border-top: thin solid gray;
    text-align: center;
    font-size: 0.8em;
}

#footer p {
    margin: 0;
    padding: 0.25em;
}

#popup {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    z-index: 10;
}

#record-stop {
    color: red;
}