body {
    padding: 0 5%;
}

table {
    margin: auto;
}

td,
th {
    width: 7%;
    border: thin solid silver;
    text-align: center;
}

td:hover {
    background-color: silver;
}

th {
    background-color: silver;
}

.character-table {
    position: relative
}

.entry {
    font-size: 3em;
}

#bug {
    width: 1em;
    height: 1em;
}

#footer {
    margin-top: 2em;
    border-top: thin solid gray;
    text-align: center;
    font-size: 0.8em;
}

#footer p {
    margin: 0;
    padding: 0.25em;
}

#popup {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    z-index: 10;
}